.dateContainer {
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.4rem 0.7rem;
  border-radius: 0.25rem;
  background-color: var(--color-card-bg);
  box-shadow: var(--color-shadow-1);
  text-align: center;
  font-family: var(--font-primary);
  border: 1px solid var(--color-border);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  /* max-width: 120px; */
  box-sizing: border-box;
}
.dateContainer:hover {
  transform: translateY(-0.1rem);
  box-shadow: var(--color-shadow-hover);
}
.day {
  font-size: clamp(0.6rem, 1.2vh, 0.85rem);
  font-weight: 500;
  color: var(--color-text-secondary);
  margin-bottom: 0.2rem;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 0.2rem; */
  gap: 0.15rem;
}
.dayNumber {
  /* font-size: clamp(1rem, 2.5vw, 1.5rem);  */
  font-size: clamp(1.2rem, 3vh, 2rem);
  font-weight: 600;
  color: var(--color-text-primary);
  line-height: 1;
  margin-bottom: 0.1rem;
}
.month,
.year {
  /* font-size: clamp(0.5rem, 1vw, 0.6rem); */
  font-size: clamp(0.6rem, 1.2vh, 0.8rem);
  color: var(--color-text-secondary);
  line-height: 1.2;
}

/******************** MEDIA QUERIES ********************/
/* Tablet: 2 column */
@media (min-width: 769px) and (max-width: 1200px) {
  .dateContainer {
    padding: 0.75rem 0.5rem;
    height: 100%;
  }

  .day {
    font-size: clamp(0.65rem, 1.5vh, 0.8rem);
  }

  .dayNumber {
    font-size: clamp(1.5rem, 4vh, 2.5rem);
  }

  .month,
  .year {
    font-size: clamp(0.65rem, 1.5vh, 0.85rem);
  }
}

/* Desktop: 3 column */
@media (min-width: 1201px) {
  .dateContainer {
    padding: 0.75rem 1rem;
  }

  .day {
    font-size: clamp(0.75rem, 1.5vh, 1rem);
  }

  .dayNumber {
    font-size: clamp(1.8rem, 4vh, 3rem);
  }

  .month,
  .year {
    font-size: clamp(0.75rem, 1.5vh, 1rem);
  }
}
