.themeIcon {
  color: var(--color-text-secondary);
  font-size: 2.5rem;
  line-height: 1.8;
}
.themeBtn {
  background: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.pagesList {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}
