.newsCardContainer {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  border: 1px solid var(--color-border);
  margin: 2rem 0;
  background-color: var(--color-card-bg);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: var(--color-shadow-2);
}
.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.newsImage {
  /* width: 100%; */
  width: 95%;
  border-radius: 0.25rem;
}
/* .newsLink:link {
  color: var(--color-text-secondary);
} */
/* .newsLink:visited {
} */
/* .newsLink:hover {
} */
/* .newsLink:active {
} */
/* .newsText.collapsed{

} */
.expandBtn {
  background: none;
  /* font-size: 1.5rem; */
  line-height: 1;
  padding: 0;
  transition: all 0.3s ease-in-out;
  color: var(--color-accent);
}
